<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">



</head>

<body>



<header th:replace="fragments::main-header">
</header>
 End Main Top


<div class="header-empty-space"></div>

<div class="container">
    <div class="empty-space col-xs-b15 col-sm-b30"></div>
    <div class="breadcrumbs">
        <a href="#">home</a>
        <a href="#">shopping cart</a>
    </div>
    <div class="empty-space col-xs-b15 col-sm-b50 col-md-b100"></div>
    <div class="text-center">
        <div class="simple-article size-3 grey uppercase col-xs-b5">shopping cart</div>
        <div class="h2">check your products</div>
        <div class="title-underline center"><span></span></div>
    </div>
</div>




<div class="empty-space col-xs-b35 col-md-b70"></div>

<div class="text-center" th:if="${check != null}">


    <div class="h2" th:text="${check}"></div>
    <a class="button size-2 style-3" th:href="@{/}">
                            <span class="button-wrapper">
                                <span class="icon"><img src="img/icon-4.png" alt=""></span>
                                <span class="text" >Go Home </span>
                            </span>
    </a>

</div>

<div class="empty-space col-xs-b35 col-md-b70"></div>
<div class="container" th:if="${check == null}">
    <table class="cart-table">
        <thead>
        <tr>
            <th style="width: 95px;"></th>
            <th>product name</th>
            <th style="width: 150px;">price</th>
            <th style="width: 260px;">quantity</th>
            <th style="width: 260px;">TotalPrice</th>
            <th style="width: 70px;">Update</th>
            <th style="width: 150px;">Action</th>
            <th style="width: 70px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${shoppingCart.cartItem}">
            <td data-title=" ">
                <a class="cart-entry-thumbnail" href="#"><img  style = "max-width: 70px" th:src="*{'data:image/jpeg;base64,' + cartItem.product.image}" alt=""></a>
            </td>
            <td data-title=" "><h6 class="h6"><a th:text="${cartItem.product.name}"></a></h6></td>
            <td data-title="Price: " th:text="'$' + ${cartItem.product.costPrice}">$155.00</td>
            <form th:action="@{/update-cart}" method="post">
            <td data-title="Quantity: ">
                <div class="quantity-select" style="text-align: center">

                    <input style="text-align: center" type="number" size="4" th:value="${cartItem.quantity}"
                           name="quantity" min="0" step="1"
                           class="c-input-text qty text">

                </div>
            </td>

            <td ><button type="submit" name="action" value="update" title="Update"
                                                         class="btn btn-primary">Update
            </button></td>
            <td>
                <span th:text="${cartItem.totalPrice}"></span>
            </td>
            <td data-title="">
                <input type="hidden" name="id" th:value="${cartItem.product.id}">
                <button type="submit" name="action" value="delete" title="Delete"
                        class="btn btn-warning">Delete
                </button>
            </td>
            </form>
        </tr>

        </tbody>
    </table>
    <div class="empty-space col-xs-b35"></div>
    <div class="row">

        <div class="col-sm-6 col-md-7 col-sm-text-left">
            <div class="buttons-wrapper">

                <a class="button size-2 style-3" th:href="@{/check-out}">
                            <span class="button-wrapper">
                                <span class="icon"><img src="img/icon-4.png" alt=""></span>
                                <span class="text" >proceed to checkout</span>
                            </span>
                </a>
            </div>
        </div>
    </div>
    <div class="empty-space col-xs-b35 col-md-b70"></div>
    <div class="row">
        <div class="col-md-6 col-xs-b50 col-md-b0">
            <h4 class="h4 col-xs-b25">calculate shipping</h4>
            <select class="SlectBox">


            </select>
            <div class="empty-space col-xs-b20"></div>


        </div>
        <div class="col-md-6">
            <h4 class="h4">cart totals</h4>
            <div class="order-details-entry simple-article size-3 grey uppercase">
                <div class="row">
                    <div class="col-xs-6">
                        cart subtotal
                    </div>
                    <div class="col-xs-6 col-xs-text-right">
                        <div class="color" th:text="${subTotal}">$1195.00</div>
                    </div>
                </div>
            </div>
            <div class="order-details-entry simple-article size-3 grey uppercase">
                <div class="row">
                    <div class="col-xs-6">
                        shipping and handling
                    </div>
                    <div class="col-xs-6 col-xs-text-right">
                        <div class="color">free shipping</div>
                    </div>
                </div>
            </div>
            <div class="order-details-entry simple-article size-3 grey uppercase">
                <div class="row">
                    <div class="col-xs-6">
                        order total
                    </div>
                    <div class="col-xs-6 col-xs-text-right">
                        <div class="color" th:text="${subTotal}">$1195.00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="empty-space col-xs-b35 col-md-b70"></div>
    <div class="empty-space col-xs-b35 col-md-b70"></div>
</div>
<!-- Start Top Search -->

<!-- End Top Search -->

<!-- Start All Title Box -->


</div>
<!-- End All Title Box -->

<!-- Start Cart  -->

<!-- End Cart -->

<!-- Start Feed  -->


<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="fragments::footer">
</footer>


<div th:replace="fragments::script"></div>
</body>

</html>