<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- Start Main Top -->

<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->

</div>
<!-- End Top Search -->
<div class="header-empty-space"></div>



<div class="content" data-rel="1">

    <div class="container ">

        <form th:action="@{/do-login}" method="post" id="loginform" >
        <div class="popup-align">
            <div class="alert alert-danger" th:if = "${param.error}">
                <strong>Không xác thực được tài khoản </strong> Vui lòng nhập lại username và password
            </div>

            <div class="alert alert-success" th:if = "${param.logout}">
                <strong>Đăng xuất thành công  </strong>
            </div>
            <h3 class="h3 text-center">Log in</h3>
            <div class="empty-space col-xs-b30"></div>
            <input class="simple-input" type="text" name="username" placeholder="Your email" />
            <div class="empty-space col-xs-b10 col-sm-b20"></div>
            <input class="simple-input" type="password" name="password" placeholder="Enter password" />
            <div class="empty-space col-xs-b10 col-sm-b20"></div>
            <div class="row">
                <div class="col-sm-6 col-xs-b10 col-sm-b0">
                    <div class="empty-space col-sm-b5"></div>
                    <a class="simple-link" th:href="@{/}">Forgot password?</a>
                    <div class="empty-space col-xs-b5"></div>
                    <a class="simple-link" th:href="@{/register}">register now</a>
                </div>
                <div class="col-sm-6 text-right">

                        <button  class="btn btn-primary" type="submit" form="loginform" value="Submit">Submit</button>

                </div>
            </div>

        </div>

        </form>
    </div>
</div>


<!-- Start All Title Box -->
<footer th:replace="fragments::footer">
</footer>
</div>
<!-- End All Title Box -->
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<div th:replace="fragments::script"></div>
</body>

</html>