<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments :: head">

</head>

<body>
<!-- Start Main Top -->

<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->

<!-- End Top Search -->
<div class="header-empty-space"></div>

<section id="register-form">
    <div class="content" data-rel="1">
        <div class="container ">
            <form th:action="@{/do-register}" method="post" th:object="${customerDto}" id="dk">
            <h2>Register</h2>
            <div th:if = "${error}" class="text-center alert alert-danger">
                <p th:text="${error}"></p>
            </div>
            <div th:if = "${username}" class="text-center alert-warning">
                <p th:text="${username}"></p>
            </div>
            <div th:if = "${password}" class="text-center alert-warning">
                <p th:text="${password}"></p>
            </div>
            <div th:if = "${success}" class="text-center alert-success">
                <p th:text="${success}"></p>
            </div>

            <div class="popup-align">
                <div class="alert alert-danger" th:if = "${param.error}">
                    <strong>Không xác thực được tài khoản </strong> Vui lòng nhập lại username và password
                </div>
                <h3 class="h3 text-center">Log in</h3>
                <div class="empty-space col-xs-b30"></div>
                <input class="simple-input" type="text" th:field = "*{firstName}" placeholder="Firstname" />




                <div class="empty-space col-xs-b30"></div>
                <input class="simple-input" type="text" th:field = "*{lastName}" placeholder="Last Name" name=""/>

                <div class="empty-space col-xs-b10 col-sm-b20"></div>
                <input class="simple-input" type="email" th:field = "*{username}" placeholder="Username" name=""/>
                <div class="empty-space col-xs-b30"></div>
                <input class="simple-input" type="password" th:field = "*{password}" placeholder="Password" name=""/>

                <div class="empty-space col-xs-b30"></div>
                <input class="simple-input" th:field = "*{repeatPassword}" placeholder="Verify password" name=""/>

                <div class="empty-space col-xs-b10 col-sm-b20"></div>
                <div class="row">
                    <div class="col-sm-6 col-xs-b10 col-sm-b0">
                        <div class="empty-space col-sm-b5"></div>
                        <a class="simple-link">Forgot password?</a>
                        <div class="empty-space col-xs-b5"></div>
                        <a class="simple-link">register now</a>
                    </div>
                    <div class="col-sm-6 text-right">

                        <button  class="btn btn-primary" type="submit" form="dk" value="Submit">Submit</button>

                    </div>
                </div>

            </div>


            </div>
        </div>
    </div>

</section>
<!-- ALL JS FILES -->
<div th:replace="fragments::script"></div>
</body>

</html>